body{
  color: black;
}
/* header items */
header {
  border-bottom: 1px solid black;
  background-color: white;  
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
}

header nav {
  padding-right: 32px;
}

/* nav span|a applies to header and footer*/ 
nav span {
  display: inline-block;
  padding: 16px 8px;
}

nav a {
  color: black;
}

#logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 32px;
}

#logo span {
  color: MediumAquamarine;
  padding-left: 8px;
}

/* content items */
div {
  border: 1px solid blue;
}
#content {
  display: flex;
  align-items: flex-start;
  /*justify-content: center;*/
  padding-top: 112px;
  margin: 0 auto 80px auto;
  width: 100%;
  height: 512px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.column.large {
  width: 632px;
}

.column.medium {
  width: 304px;
}

.column.small {
  width: 240px;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-content {
  color: white;  
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  height: 304px;
  margin-top: 16px;  
  text-align: center;
}

.text-content {
  height: 256px;
}

#funny-mom {
    background-image: url("../images/img-outdoor-champagne-toast.png");
    font-size: 40px;
    margin-top: 0;
    text-align: left;
    width: 632px;
}

#fall-season {
    background-image: url("../images/img-girl-outdoor-fall-season.png");
}

#camera-research {
    background-image: url("../images/img-male-hipster-camera.png");
}

#controlling-cat {
    background-image: url("../images/img-girl-white-cat.png");
}

#news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.bite {
  background-color: WhiteSmoke;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: DimGray;
  font-family: Verdana;
  font-size: 12px;
  display: block;
  margin-top: -2px;
  padding: 8px 16px;
}

/* footer items */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;  
  margin: auto;
  width: 100%;
  height: 320px;
}

footer .identity-name {
  display: inline-block;
  border-right: 2px solid white;
  color: white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  padding-right: 24px;
}

footer nav {
  display: inline-block;
  padding-left: 16px;
}

